@keyframes ldio-vve8khvyvro {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-vve8khvyvro div { box-sizing: border-box!important }
.ldio-vve8khvyvro > div {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 15.5px;
  left: 15.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #3d7ec0 transparent #3d7ec0 transparent;
  animation: ldio-vve8khvyvro 2s linear infinite;
}

.ldio-vve8khvyvro > div:nth-child(2), .ldio-vve8khvyvro > div:nth-child(4) {
  width: 57px;
  height: 57px;
  top: 21.5px;
  left: 21.5px;
  animation: ldio-vve8khvyvro 2s linear infinite reverse;
}
.ldio-vve8khvyvro > div:nth-child(2) {
  border-color: transparent #cc4545 transparent #cc4545
}
.ldio-vve8khvyvro > div:nth-child(3) { border-color: transparent }
.ldio-vve8khvyvro > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-vve8khvyvro > div:nth-child(3) div:before, .ldio-vve8khvyvro > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 27px;
  background: #3d7ec0;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #3d7ec0;
}
.ldio-vve8khvyvro > div:nth-child(3) div:after {
  left: -5px;
  top: 27px;
  box-shadow: 64px 0 0 0 #3d7ec0;
}

.ldio-vve8khvyvro > div:nth-child(4) { border-color: transparent; }
.ldio-vve8khvyvro > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-vve8khvyvro > div:nth-child(4) div:before, .ldio-vve8khvyvro > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 21px;
  background: #cc4545;
  border-radius: 50%;
  box-shadow: 0 52px 0 0 #cc4545;
}
.ldio-vve8khvyvro > div:nth-child(4) div:after {
  left: -5px;
  top: 21px;
  box-shadow: 52px 0 0 0 #cc4545;
}
.loadingio-spinner-double-ring-f2flai340st {
  width: 78px;
  height: 78px;
  display: inline-block;
  overflow: hidden;
}
.ldio-vve8khvyvro {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.78);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vve8khvyvro div { box-sizing: content-box; }
